In [1]:
import pandas as pd
import os
import ast

In [2]:
df_games = pd.read_csv('Datasets\games_limpios.csv')
df_reviews = pd.read_csv('Datasets\\reviews_limpios.csv')
df_items = pd.read_csv('Datasets\items_limpios.csv')

In [50]:
df_items.head()

   item_id            user_id  hours_game
0       10  76561197970982479        0.10
1       30  76561197970982479        0.12
2      300  76561197970982479       78.88
3      240  76561197970982479       30.88
4     3830  76561197970982479        5.55

In [51]:
df_games

,genres,price,early_access,id,release_year,publisher,app_name,title,developer
0,Action,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
2,Indie,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
3,Simulation,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
4,Strategy,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
...,...,...,...,...,...,...,...,...,...
71545,Indie,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71546,Racing,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71547,Simulation,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71548,Casual,4.99,False,658870,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"
71549,Indie,4.99,False,658870,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"

In [30]:
# Renombrar la columna 
df_games.rename(columns={'id': 'item_id'}, inplace=True)
df_games.rename(columns={'release_year': 'year'}, inplace=True)

In [31]:
df_games['genres']

0            Action
1            Casual
2             Indie
3        Simulation
4          Strategy
            ...
71545         Indie
71546        Racing
71547    Simulation
71548        Casual
71549         Indie
Name: genres, Length: 71550, dtype: object

In [33]:
df_merged = pd.merge(df_items, df_games[['item_id', 'year', 'genres']], on='item_id', how='inner')

In [34]:
df_merged

         item_id            user_id  hours_game  year        genres
0             10  76561197970982479        0.10  2000        Action
1             30  76561197970982479        0.12  2003        Action
2            300  76561197970982479       78.88  2010        Action
3            240  76561197970982479       30.88  2004        Action
4           3830  76561197970982479        5.55  2005        Action
...          ...                ...         ...   ...           ...
6845688   388490  76561198329548331        0.05  2015     Adventure
6845689   388490  76561198329548331        0.05  2015  Free to Play
6845690   521570  76561198329548331        0.07  2016        Casual
6845691   521570  76561198329548331        0.07  2016  Free to Play
6845692   521570  76561198329548331        0.07  2016         Indie

[6845693 rows x 5 columns]

In [36]:
#Agrupamos por genero y año de lanzamiento
df_merged = df_merged.groupby(['year', 'genres'])['hours_game'].sum().reset_index()

In [37]:
print(df_merged['genres'].unique())

['Action' 'Adventure' 'Casual' 'Early Access' 'Free to Play' 'Indie'
 'Massively Multiplayer' 'RPG' 'Racing' 'Simulation' 'Sports' 'Strategy'
 'Utilities' 'Web Publishing' 'Photo Editing' 'Video Production'
 'Audio Production' 'Design &amp; Illustration' 'Animation &amp; Modeling'
 'Education' 'Software Training']

In [38]:
import html

# Decodificar entidades HTML en la columna 'genres'
df_merged['genres'] = df_merged['genres'].apply(html.unescape)

In [39]:
print(df_merged['genres'].unique())

['Action' 'Adventure' 'Casual' 'Early Access' 'Free to Play' 'Indie'
 'Massively Multiplayer' 'RPG' 'Racing' 'Simulation' 'Sports' 'Strategy'
 'Utilities' 'Web Publishing' 'Photo Editing' 'Video Production'
 'Audio Production' 'Design & Illustration' 'Animation & Modeling'
 'Education' 'Software Training']

In [42]:
# Reemplazar valores nulos con una cadena vacía
df_merged['genres'] = df_merged['genres'].fillna('')

# Eliminar filas con valores nulos en la columna 'genres'
df_merged.dropna(subset=['genres'], inplace=True)

# Encontrar el género con más horas jugadas por año 
max_hours_genre = df_merged.loc[df_merged.groupby(['year', 'genres'])['hours_game'].idxmax()]

# Ordenar el DataFrame resultante
max_hours_genre = max_hours_genre.sort_values(by=['genres', 'hours_game', 'year'], ascending=[True, False, True])

# Guardar el resultado en un archivo CSV
max_hours_genre.to_csv('PlayTimeGenre.csv', index=False)

In [44]:
df_games

,genres,price,early_access,item_id,year,publisher,app_name,title,developer
0,Action,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
2,Indie,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
3,Simulation,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
4,Strategy,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
...,...,...,...,...,...,...,...,...,...
71545,Indie,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71546,Racing,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71547,Simulation,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71548,Casual,4.99,False,658870,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"
71549,Indie,4.99,False,658870,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"

In [46]:
merged_data=pd.merge(df_items,df_games,left_on='item_id', right_on='item_id', how='right')

merged_data.drop(['item_id'], axis=1, inplace=True)
merged_data.dropna(inplace=True)

merged_data['hours_game'] = merged_data['hours_game'].astype(int)
merged_data['year'] = merged_data['year'].astype(int)

#Encontrar el jugador con más horas jugadas por género y año
max_hours_df = merged_data.loc[merged_data.groupby(['genres', 'year'])['hours_game'].idxmax()]

#Filtrar las columnas necesarias
max_hours_df = max_hours_df[['genres', 'year', 'user_id', 'hours_game']]

#Segunda agrupación para obtener las horas jugadas por año para el usuario seleccionado
max_hours = max_hours_df.groupby(['genres', 'year', 'user_id'])['hours_game'].sum().reset_index()

max_hours.to_csv('UserForGenre.csv', index=False)

In [59]:
df_reviews.head()

,user_id,user_url,reviews_posted,item_id,reviews_helpful,reviews_recommend,reviews_review,fecha,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011,1
1,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014,1
2,doctr,http://steamcommunity.com/id/doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2013,2
3,maplemage,http://steamcommunity.com/id/maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,2014,1
4,Wackky,http://steamcommunity.com/id/Wackky,"Posted May 5, 2014.",249130,7 of 8 people (88%) found this review helpful,True,This game is Marvellous.,2014,0

In [60]:
df_games.head()

,genres,price,early_access,id,release_year,publisher,app_name,title,developer
0,Action,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
2,Indie,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
3,Simulation,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
4,Strategy,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro

In [62]:
# Renombrar la columna 
df_reviews.rename(columns={'item_id': 'id'}, inplace=True)

In [64]:
df_merged = pd.merge(df_reviews, df_games, on='id', how='left')
df_merged.head()

,user_id,user_url,reviews_posted,id,reviews_helpful,reviews_recommend,reviews_review,fecha,sentiment_analysis,genres,price,early_access,release_year,publisher,app_name,title,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011,1,Action,19.99,False,2009.0,Tripwire Interactive,Killing Floor,Killing Floor,Tripwire Interactive
1,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,doctr,http://steamcommunity.com/id/doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2013,2,Adventure,24.99,False,2013.0,Telltale Games,The Wolf Among Us,The Wolf Among Us,Telltale Games
3,maplemage,http://steamcommunity.com/id/maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,2014,1,Action,19.99,False,2012.0,BANDAI NAMCO Entertainment,DARK SOULS™: Prepare To Die™ Edition,DARK SOULS™: Prepare To Die™ Edition,FromSoftware
4,maplemage,http://steamcommunity.com/id/maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,2014,1,RPG,19.99,False,2012.0,BANDAI NAMCO Entertainment,DARK SOULS™: Prepare To Die™ Edition,DARK SOULS™: Prepare To Die™ Edition,FromSoftware

In [75]:
# Filtrar las filas que cumplen con las condiciones
result = df_merged.loc[(df_merged['reviews_recommend'] == True) & (df_merged['sentiment_analysis'].isin([1, 2])),
                           ['fecha', 'app_name']]

# Agrupar por 'fecha' y 'name' y contar las ocurrencias
grouped_result = result.groupby(['fecha', 'app_name']).size().reset_index(name='count')

# Ordenar por 'fecha' y 'count' en orden descendente
grouped_result = grouped_result.sort_values(by=['fecha', 'count'], ascending=[False, False])

# Obtener el top 3 por año
recomendados_x_año = grouped_result.groupby('fecha').head(3)

# Guardar el resultado en un archivo CSV
recomendados_x_año.to_csv('UsersRecommend.csv', index=False)

In [76]:
recomendados_x_año

      fecha                          app_name  count
2446   2015  Counter-Strike: Global Offensive   1371
3617   2015                          Unturned   1295
3438   2015                   Team Fortress 2   1198
1953   2014                   Team Fortress 2   2862
2088   2014                          Unturned   2525
1789   2014                              Rust   2154
873    2013                   Team Fortress 2   1474
608    2013                       Garry's Mod    614
874    2013                          Terraria    540
366    2012                   Team Fortress 2    480
368    2012                          Terraria    148
325    2012              Realm of the Mad God     75
165    2011                   Team Fortress 2    140
166    2011                          Terraria     76
135    2011                          Portal 2     50
27     2010                   Team Fortress 2     20
10     2010                       Garry's Mod      6
11     2010                     Killing Floor      6

In [77]:
# Filtrar las filas que cumplen con las condiciones
result = df_merged.loc[(df_merged['reviews_recommend'] == True) & (df_merged['sentiment_analysis'].isin([0])),
                           ['fecha', 'app_name']]

# Agrupar por 'fecha' y 'name' y contar las ocurrencias
grouped_result = result.groupby(['fecha', 'app_name']).size().reset_index(name='count')

# Ordenar por 'fecha' y 'count' en orden descendente
grouped_result = grouped_result.sort_values(by=['fecha', 'count'], ascending=[False, False])

# Obtener el top 3 por año
no_recomendados_x_año = grouped_result.groupby('fecha').head(3)

# Guardar el resultado en un archivo CSV
no_recomendados_x_año.to_csv('UsersNotRecommend.csv', index=False)

In [78]:
no_recomendados_x_año

     fecha                          app_name  count
553   2015  Counter-Strike: Global Offensive    140
579   2015                     Emily is Away     75
714   2015                              Rust     66
446   2014                   Team Fortress 2    188
480   2014                          Unturned    170
405   2014                              Rust    138
166   2013                   Team Fortress 2     78
104   2013                       Garry's Mod     46
131   2013                      PlanetSide 2     24
48    2012                   Team Fortress 2     36
49    2012                          Terraria     16
44    2012              Realm of the Mad God     15
20    2011                          Terraria     16
19    2011                   Team Fortress 2     14
15    2011                            Portal      5
0     2010         Amnesia: The Dark Descent      3
1     2010              IL-2 Sturmovik: 1946      1
2     2010         Madballs in Babo:Invasion      1

In [3]:
df_games.head()

,genres,price,early_access,id,release_year,publisher,app_name,title,developer
0,Action,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
2,Indie,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
3,Simulation,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
4,Strategy,4.99,False,761140,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro

In [4]:
df_reviews.head()

,user_id,user_url,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,fecha,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011,1
1,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014,1
2,doctr,http://steamcommunity.com/id/doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2013,2
3,maplemage,http://steamcommunity.com/id/maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,2014,1
4,Wackky,http://steamcommunity.com/id/Wackky,"Posted May 5, 2014.",249130,7 of 8 people (88%) found this review helpful,True,This game is Marvellous.,2014,0

In [5]:
# Renombrar la columna 
df_reviews.rename(columns={'reviews_item_id': 'id'}, inplace=True)

In [6]:
merged_df = pd.merge(df_games, df_reviews, on='id', how='inner')

In [7]:
merged_df.head()

,genres,price,early_access,id,release_year,publisher,app_name,title,developer,user_id,user_url,reviews_posted,reviews_helpful,reviews_recommend,reviews_review,fecha,sentiment_analysis
0,Action,9.99,False,70,1998,Valve,Half-Life,Half-Life,Valve,EizanAratoFujimaki,http://steamcommunity.com/id/EizanAratoFujimaki,"Posted October 28, 2015.",14 of 19 people (74%) found this review helpful,True,ADVERTENCIA:Este Análisis contiene posibles Sp...,2015,1
1,Action,9.99,False,70,1998,Valve,Half-Life,Half-Life,Valve,76561198020928326,http://steamcommunity.com/profiles/76561198020...,"Posted July 1, 2014.",2 of 2 people (100%) found this review helpful,True,this game has had me hooked for over 4 years a...,2014,1
2,Action,9.99,False,70,1998,Valve,Half-Life,Half-Life,Valve,Mutivate,http://steamcommunity.com/id/Mutivate,"Posted January 4, 2015.",No ratings yet,True,This is the reason I am waking up in the morni...,2015,1
3,Action,9.99,False,70,1998,Valve,Half-Life,Half-Life,Valve,brimmers,http://steamcommunity.com/id/brimmers,"Posted January 1, 2014.",1 of 1 people (100%) found this review helpful,True,"Half-Life, The classic FPS in 1998, loved this...",2014,2
4,Action,9.99,False,70,1998,Valve,Half-Life,Half-Life,Valve,76561198065827553,http://steamcommunity.com/profiles/76561198065...,"Posted June 18, 2011.",No ratings yet,True,This is one of the greatest games i have ever ...,2011,2

In [8]:
# Agrupar por desarrolladora y sentimiento, y contar las ocurrencias
result_df = merged_df.groupby(['release_year', 'sentiment_analysis']).size().reset_index(name='count')

# Pivoteando el DataFrame para tener sentimientos como columnas
result_df = result_df.pivot(index='release_year', columns='sentiment_analysis', values='count').reset_index()

# Renombrar las columnas según el formato deseado
result_df.columns = ['release_year', 'Negative', 'Neutral', 'Positive']

# Rellenar NaN con 0
result_df = result_df.fillna(0)

# Convertir las columnas a tipo int
result_df[['Negative', 'Neutral', 'Positive']] = result_df[['Negative', 'Neutral', 'Positive']].astype(int)

# Guardar el resultado en un archivo CSV
result_df.to_csv('sentiment_analysis.csv', index=False)